<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
    ons.bootstrap()
      .controller('AppController', function($scope) {
        this.load = function(page) {
          $scope.splitter.content.load(page);
          $scope.splitter.left.close();
        };

        this.toggle = function() {
          $scope.splitter.left.toggle();
        };
      });

    ons.ready(function() {
        console.log("Onsen UI is ready!");
    });
  </script>
</head>
<body>

  <ons-splitter ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page>
        <ons-list>
          <ons-list-item ng-click="app.load('home.html')" tappable>
              <div class="left">
                <img class="list-item__thumbnail" src="img/icon.png"  />
              </div>
              <div class="center">
                <span class="list-item__title">Home</span>
              </div>
          </ons-list-item>
          <ons-list-item ng-click="app.load('emergency.html')" tappable>
              <div class="left">
                <img class="list-item__thumbnail" src="img/emergency.png">
              </div>
              <div class="center">
                <span class="list-item__title">Emergency Services</span>
              </div>
          </ons-list-item>
          <ons-list-item ng-click="app.load('healthcare.html')" tappable>
                <div class="left">
                <img class="list-item__thumbnail" src="img/healthcare.png">
              </div>
              <div class="center">
                <span class="list-item__title">Healthcare</span>
              </div>
          </ons-list-item>          
          <ons-list-item ng-click="app.load('education.html')" tappable>
                          <div class="left">
                <img class="list-item__thumbnail" src="img/education.png">
              </div>
              <div class="center">
                <span class="list-item__title">Education</span>
              </div>
          </ons-list-item>
          <ons-list-item ng-click="app.load('community.html')" tappable>
                <div class="left">
                <img class="list-item__thumbnail" src="img/community.png">
              </div>
              <div class="center">
                <span class="list-item__title">Community</span>
              </div>
          </ons-list-item>
          <ons-list-item ng-click="app.load('democracy.html')" tappable>
                          <div class="left">
                <img class="list-item__thumbnail" src="img/democracy.png">
              </div>
              <div class="center">
                <span class="list-item__title">Democracy</span>
              </div>
          </ons-list-item>          
          <ons-list-item ng-click="app.load('comfort.html')" tappable>
              <div class="left">
                <img class="list-item__thumbnail" src="img/comfort.png">
              </div>
              <div class="center">
                <span class="list-item__title">Comfort</span>
              </div>
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings.html')" tappable>
              <div class="left">
                <img class="list-item__thumbnail" src="img/settings.png">
              </div>
              <div class="center">
                <span class="list-item__title">Settings</span>
              </div>
          </ons-list-item>
          <ons-list-item ng-click="app.load('about.html')" tappable>
              <div class="left">
                <img class="list-item__thumbnail" src="img/about.png">
              </div>
              <div class="center">
                <span class="list-item__title">About</span>
              </div>
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>
  
<!-- Home Screen -->
  <ons-template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Good Neighbors
        </div>
      </ons-toolbar>
        <table class="tg center">
          <tr>
            <th class="tg-hgcj" colspan="3"><img src="img/logo.png" style="width:100%;" /></th>
          </tr>
          <tr>
            <td class="tg-baqh" ng-click="app.load('emergency.html')" tappable><img src="img/emergency.png" class="homescreen" /><br />Emergency</td>
            <td class="tg-baqh" ng-click="app.load('healthcare.html')" tappable><img src="img/healthcare.png" class="homescreen" /><br />Healthcare</td>
            <td class="tg-baqh" ng-click="app.load('education.html')" tappable><img src="img/education.png" class="homescreen" /><br />Education</td>
          </tr>
          <tr>
            <td class="tg-baqh" ng-click="app.load('community.html')" tappable><img src="img/community.png" class="homescreen" /><br />Community</td>
            <td class="tg-baqh" ng-click="app.load('democracy.html')" tappable><img src="img/democracy.png"  class="homescreen"/><br />Democracy</td>
            <td class="tg-baqh" ng-click="app.load('comfort.html')" tappable><img src="img/comfort.png"  class="homescreen"/><br />Comfort</td>
          </tr>
        </table>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe right to open the menu!
      </p>
    </ons-page>
  </ons-template>
  
<!-- Emergency Services Screen -->
<!--http://www.city-buffalo.com/Home/Leadership/Mayor/Emergency_Contact_Numbers-->
  <ons-template id="emergency.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Emergency Services
        </div>
      </ons-toolbar>
           <div id="header">
              If you have an emergency please <a href="tel:911">Dial 9-1-1</a>
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Police Stations</h2>
                    <p>
                      <a href="https://drive.google.com/open?id=1ntqzLm449BC3u6xVnbKRC0IoNg-Nyh2w&usp=sharing" target="_blank">Click to find the station nearest you.</a>
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Fire Stations</h2>
                    <p>
                      <a href="https://www.google.com/maps/search/Buffalo+Fire+Department/">Click to find the station nearest you.</a>
                    </p>
                    <p>
                      <strong>Fire safety</strong><br />
                    When adding fuel to a space heater, or wood to a wood stove or fireplace, wear non-flammable gloves and clothing. Never add fuel to a space heater when it is hot. The fuel can ignite, burning you and your home. Keep the heater away from objects that can burn, such as furniture, rugs or curtains. If you have a fire extinguisher, keep it nearby. Be careful with candles-never leave them burning if you leave the room. Keep children away from space heaters, fireplaces and wood stoves to avoid accidental burns.
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Emergency Medical Services</h2>
                    <p>Rural Metro Medical Services:  <a href="tel:1-716-882-8400">882-8400</a></p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Electrical</h2>
                    <p>National Grid (Electric): <a href="tel:1-800-642-4272">1-800-642-4272</a><br />
                      DO NOT TOUCH ANY DOWNED WIRES OR METAL NEAR DOWNED WIRES and avoid puddles near downed wires.  Remember power could come on suddenly, endangering you and your family.  Turn off all electrical devices until the power comes back on and do not enter a wet basement until you are sure it is safe.
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Gas</h2>
                    <p> National Fuel (Gas): <a href="tel:1-800-444-3130">1-800-444-3130</a></p>
                    <p><strong>Reporting a Gas Leak</strong><br />
                   -Turn off the gas meter by turning the valve at right angles to the gas pipe.<br />
                    -Open all windows and doors and keep them open until the leak is repaired.<br />
                    -Don't smoke or use electrical switches, matches or naked flames.</p>
                    <p><strong>Alternate Heating Sources</strong><br />
                      If you use a fireplace, wood stove, or portable kerosene heater to stay warm, be sure there is adequate ventilation to the outside. Without enough fresh air, carbon monoxide fumes can build up in your home. Never use a natural gas or propane stove/oven to heat your home. If you are using a kerosene heater, use l-K grade kerosene only. Never substitute with fuel oil, diesel, gasoline or yellow (regular) kerosene. <br />
                      Open a window to provide ventilation when a portable kerosene heater is in use to reduce carbon monoxide fumes inside the home. If you plan to cook on a barbecue grill or camp stove, remember these also produce carbon monoxide and are for outdoor use only<br />.
                    </p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>
  
<!-- Healthcare Services Screen -->
  <ons-template id="healthcare.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Healthcare
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>
  
<!-- Education Screen -->
  <ons-template id="education.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Education
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>

<!-- Community Screen -->
  <ons-template id="community.html">
     <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Community
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>

<!-- Democracy Screen -->
  <ons-template id="democracy.html">
      <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
         Democracy
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>

<!-- Comfort Screen -->
  <ons-template id="comfort.html">
      <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Comfort
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>

<!-- Settings Screen -->
  <ons-template id="settings.html">
      <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>

  <ons-template id="about.html">
      <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          About Us
        </div>
      </ons-toolbar>
           <div id="header">
           </div>
        <div id="wrapper">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 1</h2>
                    <p>
                      Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 2</h2>
                    <p>
                        Content
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Item 3</h2>
                    <p></p>
                </li>
            </ul>
        </div>
    </ons-page>
  </ons-template>
</body>
</html>
